<!-- 投稿一覧 -->
<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <!-- イメージ画像の有無 -->
    <% if list.image.attached? %>
     
      <%= link_to image_tag(list.image, size: "200x200"), list_path(list.id) %>
    <% else %>
      <%= link_to image_tag("no_image", size: "200x200"), list_path(list.id) %>
    <% end %>

    <div class="list-comment">
      <span class="list-title"><%= link_to list.title, list_path(list.id) %></span>
      <span class="list-body"><%= list.body %></span>
    </div>
  </div>
<% end %>
</div>